<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47114816492-93rcfhrjnd4hudj5c7af947plbt4js6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47114816492-93rcfhrjnd4hudj5c7af947plbt4js6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAl0waJ-JpBaGASKYifgVwtizN7KnY8PHg</string>
	<key>GCM_SENDER_ID</key>
	<string>47114816492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allTogether</string>
	<key>PROJECT_ID</key>
	<string>email-abc05</string>
	<key>STORAGE_BUCKET</key>
	<string>email-abc05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47114816492:ios:cca1fa61153b10914c8ec9</string>
</dict>
</plist>